
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bot{
  margin-top: 4px;
}

#particles-js {
  background-color: #1053cc;
  height: 100vh;
  width: 100%;
  z-index: 1;
}
titulo-{
  left: 40%;
  top: 39%;
  position: absolute;
  display: flex;
}
.texto{
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 2;
}
.beneficios{
  display: flex;
  flex-wrap: wrap;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
}
.botones{
  flex-wrap: wrap;
  margin-top: 110px;
  gap: 66px;
  display: flex;
  justify-content: center;
}
.bn39 {
  background-image:   linear-gradient(135deg, rgb(140, 0, 255), rgb(255 174 252));
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 40px;
  font-size: 1.1em;
  font-weight: 400;
  padding: 3px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.bn39:before {
  content: "";
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fb00ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
  animation: effect 3s infinite;
}

.bn39:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #1053cc;
  ;
  z-index: -1;
  opacity: 0;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  animation: effect 3s infinite;
}

.bn39:hover {
  color: #ffffff;
}

.bn39 .bn39span {
  align-items: center;
  background: #1053cc;
  ;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.bn39:hover .bn39span {
  background: transparent;}

  @keyframes effect {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    50% {
      transform: scaleX(1);
      opacity: 0.3;
    }
    100% {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  h1{
    color: rgb(255, 255, 255);
  }
  .titulo{
    color: #fb00ff;
  }

  h1{
    margin-bottom: -17px;
    font-size:56px ;
  }
  .contenedor-titulo{
    display: flex;
  }

  .contenedor-titulo {
    left: 40vw;
    top: 44vh;
    position: absolute;
   
  }
  
  h2 {
    font-weight: 600;
    color:#ffffff;
   font-family: 'Nunito', sans-serif;;
    
   
  }

  #element{
    color: #eb5ef0;
    margin-left: 20px;
  }
  @media (max-width: 767px) {
    .botones{
     gap: 45px; 
  }}
  .animate__animated    {
  animation-duration: 139s;
  }  

  #main{
display: flex;
  }
  .container-card{
    position: absolute;
    top: 103vh;
    left: 50px;
    flex-wrap: wrap;
    display: flex;
  }
  
  .card{
    padding: 22px;
    margin: 12px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    box-shadow: rgb(75 14 155) 2px 2px 20px 0px
  }
ul{
  padding: 0;
  list-style-type: none;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  max-width: 70%;
  max-height: 85%;
  object-fit: cover;
}
.card h2{
  justify-content: center;
  display: flex;
  margin-left: 10px;
  font-size: 20px;
}

.logo{
  width: 222px;
  position: absolute;
    top: 8%;
    left: 42%;
}
@media (max-width: 768px) {
  .card{ width: 75vw;
    margin-left: -26px;}
 
   
  
.logo{
  left: 23%;
}
}

/* .swiper-slide {
  background: none;
  margin-right: 131px !important;
  width: 80%;
  margin: 0 auto;
}

.swiper-slide img {
  width: 256%;
  height: 100%;
} */

h1{
  left: 20%;
  top: 37vh;
  position: absolute;
}

.swiper-button-prev:after{
  color: white;
}

svg{
  margin-left: 2px;
}
.card {
  margin-top: 32px;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 10px;
}
.card-body li {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card {
  display: flex;
/* From https://css.glass */
background: rgb(255 255 255 / 8%);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(-65px);
-webkit-backdrop-filter: blur(5px);
justify-content: space-evenly;
border: 1px solid rgba(255, 255, 255, 0.3);

 
}
.card h2{
  color:white;
}
.card svg{
color: #fb00ff;
}

.card .d-flex{
  flex-direction: column;
display: flex;
justify-content: flex-start;
}
.swiper-button-next:after{
  color: white;
}

.contenedor-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .contenedor-titulo {
    left: 14vw;
    top: 51vh;
    position: absolute;
  }
  h1 {
    left: 28vw;}
}
#whatsapp-logo {
  max-width: 53px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.logos{
 width: 3%;
}
.card .h2a{
  text-align: center;
  font-weight: 500;
  background-color:#1052ccef;
  padding: 8px;
  border-radius: 9px;
  font-size: 24px;
  color:#e7e7e7;  ;
  }
  .bicon{
    color: #fb00ff;
  }



  .filter {
   filter: drop-shadow(2px 3px 0px gray)
  }
  li h2{
    font-weight: 400;
  }
  .card .llamadoaccion{
    text-align: center;
    color: white;
    border: 1px solid #002d80;
   background-color: rgb(255 255 255 / 26%);
    padding: 10px;
    border-radius: 9px;
  }
  

  h3{
    font-size: 16px;
    color: white;
    left: 10%;
    top: 8vh;
    position: absolute;
  }



/* Estilo por defecto para la barra de navegación */
#navbar {
  z-index: 2222;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #333; */
  color: #fff;
  padding: 1rem;
}

#navbar ul {
  font-size: 18px;
  margin-right: 29px;
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin: 0 1rem;
}

#navbar ul li a {
  color: #fff;
  text-decoration: none;
}

#toggleIcon {
  display: none;
}

/* Estilos cuando la pantalla es menor a 768px (tablet) */
@media (max-width: 768px) {
  #navbar {
      flex-direction: column;
  }

  #navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  #navbar ul li {
      margin: 1rem 0;
      text-align: center;
  }

  #navbar.active ul {
      display: flex;
  }

  #toggleIcon {
      display: flex;
      justify-content: flex-end;
      width: 80%;
  }

  #toggleIcon .open {
      display: block;
  }

  #toggleIcon .close {
      display: none;
  }

  #navbar.active #toggleIcon .open {
      display: none;
  }

  #navbar.active #toggleIcon .close {
      display: block;
  }
}

#navbar ul li {
  margin: 0 1rem;
  position: relative;
  padding: 0 1rem;
}

#navbar ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  height: 2rem; /* Ajusta la altura a tu gusto */
  width: 1px;
  background-color: #fff;
}
#navbar ul li {
  position: relative;
  margin-left: -12px; /* ajusta este valor según tus necesidades */
}

#navbar ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1px;
  background-color: #fff;
}
#navbar ul li a {
  display: inline-block;  /* Asegúrate de que el enlace sea un bloque en línea */
  transition: transform 0.3s ease;
}

#navbar ul li a:hover {
  color: #eb5ef0;
  transform: translateY(-10%) scale(2.1);  /* Combina las transformaciones aquí */
}

.backro{
  background-color: #151617;
  /* background-image:url( "./Polygon Luminary.svg") ; */
}
.galeria{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen1{
  width: 35vw;
height: 81%;
padding: 28px;
}
body{
  background-color: #151617ef; ;
}