
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bot{
  margin-left: 8px;
  margin-top: 4px;
}

#particles-js {
 
  height: 300vh;
  width: 100%;
  z-index: 1;
}
titulo-{
  left: 40%;
  top: 39%;
  position: absolute;
  display: flex;
}
.texto{
  display: flex;

  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  flex-wrap: wrap;
  margin-top: 0;
  position: absolute;
  top: 49%;
  left: 50%;
  z-index: 2;
}
.beneficios{
  display: flex;
  flex-wrap: wrap;
  top: 99%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  position: absolute;
}
.botones{
  flex-wrap: wrap;
  margin-top: 110px;
  gap: 66px;
  display: flex;
  justify-content: center;
}
.bn39 {
  background-image:   linear-gradient(135deg, rgb(140, 0, 255), rgb(255 174 252));
  border-radius: 8px;
  box-sizing: border-box;
  color: white;
  display: block;
  height: 40px;
  font-size: 1.1em;
  font-weight: 400;
  padding: 3px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  overflow: hidden;
  cursor: pointer;
}

.bn39:before {
  content: "";
 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fb00ff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
  z-index: -1;
  animation: effect 3s infinite;
}

.bn39:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #1053cc;
  ;
  z-index: -1;
  opacity: 0;
  transition: width 0.3s ease, height 0.3s ease, opacity 0.3s ease;
  animation: effect 3s infinite;
}

.bn39:hover {
  color: #ffffff;
}

.bn39 .bn39span {
  align-items: center;

  ;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}



  @keyframes effect {
    0% {
      transform: scaleX(0);
      opacity: 0;
    }
    50% {
      transform: scaleX(1);
      opacity: 0.3;
    }
    100% {
      transform: scaleX(0);
      opacity: 0;
    }
  }

  h1{
    color: rgb(255, 255, 255);
  }
  .titulo{
    color: #B025E7;
  }

  h1{
    margin-bottom: -17px;
    font-size:56px ;
  }
  li h2 {
    font-size: 20px;
  }
  .contenedor-titulo{
    display: flex;
  }

  .contenedor-titulo {
    left: 40vw;
    top: 44vh;
    position: absolute;
   
  }
  
  h2 {
    font-weight: 600;

   font-family: 'Nunito', sans-serif;;
    
   
  }

  #element{
    color: #eb5ef0;
    margin-left: 20px;
  }
  @media (max-width: 767px) {
    .botones{
     gap: 45px; 
  }}
  .animate__animated    {
  animation-duration: 139s;
  }  

  #main{
display: flex;
  }
  .container-card{
    position: absolute;
    top: 103vh;
    left: 50px;
    flex-wrap: wrap;
    display: flex;
  }
  .d-flex{
    margin-bottom: 24px;
  }
  .card{
 
    padding: 22px;
    margin: 12px;
    height: auto;
    width: 90vw;
    border-radius: 15px;
    box-shadow: rgb(75 14 155) 2px 2px 20px 0px
  }
ul{
  padding: 0;
  list-style-type: none;
}


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  /* display: block; */
  max-width: 70%;
  max-height: 85%;
  object-fit: cover;
}
.card h2{
  justify-content: center;
  display: flex;
  margin-left: 10px;
 
}

.logo{
  width: 222px;
  position: absolute;
    top: 8%;
    left: 42%;
}
@media (max-width: 768px) {
  .card{ width: 75vw;
}
 
   
  
.logo{
  left: 23%;
}
}

/* .swiper-slide {
  background: none;
  margin-right: 131px !important;
  width: 80%;
  margin: 0 auto;
}

.swiper-slide img {
  width: 256%;
  height: 100%;
} */

h1{
  z-index: 9999;
  left: 20%;
  top: 37vh;
  position: absolute;
}

.swiper-button-prev:after{
  color: white;
}

svg{
  margin-left: 2px;
}
.card {
  margin-top: 32px;
  border-radius: 10px;
  overflow: hidden;
}

.card-body {
  padding: 10px;
}
.card-body li {
  margin-bottom: -16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.card {
  display: flex;
  flex-wrap: wrap;
/* From https://css.glass */
background: rgba(255, 255, 255, 0.2);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
 
}

.card svg{
color: #fb00ff;
}

.card .d-flex{
  flex-direction: column;
display: flex;
justify-content: flex-start;
}
.swiper-button-next:after{
  color: white;
}

.contenedor-titulo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .contenedor-titulo {
    left: 14vw;
    top: 51vh;
    position: absolute;
  }
  h1 {
    left: 28vw;}
}
#whatsapp-logo {
  max-width: 53px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
}
.logos{
 width: 3%;
}
.card .h2a{
  text-align: center;
  font-weight: 500;

  padding: 8px;  
  font-size: 20px;

  }
  .bicon{
    color: #B025E7;
  }



 
  li h2{
    font-weight: 400;
  }
  .llamadoaccion{
    text-align: center;
   color: #B025E7;


    padding: 10px;

  }
  

  h3{
    font-size: 16px;
    color: white;
    left: 10%;
    top: 8vh;
    position: absolute;
  }



/* Estilo por defecto para la barra de navegación */
#navbar {
  height: 9vh;
  z-index: 99222;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  /* background-color: #333; */
  color: #fff;
  padding: 1rem;
}

#navbar ul {
  align-items: center;
  font-size: 18px;
  margin-right: 29px;
  display: flex;
  list-style: none;
}

#navbar ul li {
  margin: 0 1rem;
}

#navbar ul li a {
  /* color: #fff; */
  text-decoration: none;
}

#toggleIcon {
  display: none;
}

/* Estilos cuando la pantalla es menor a 768px (tablet) */
@media (max-width: 768px) {
  #navbar {
      flex-direction: column;
  }

  #navbar ul {
      display: none;
      flex-direction: column;
      width: 100%;
  }

  #navbar ul li {
      margin: 1rem 0;
      text-align: center;
  }

  #navbar.active ul {
      display: flex;
  }

  #toggleIcon {
      display: flex;
      justify-content: flex-end;
      width: 80%;
  }

  #toggleIcon .open {
      display: block;
  }

  #toggleIcon .close {
      display: none;
  }

  #navbar.active #toggleIcon .open {
      display: none;
  }

  #navbar.active #toggleIcon .close {
      display: block;
  }
}

#navbar ul li {
  margin: 0 1rem;
  position: relative;
  padding: 0 1rem;
}

#navbar ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 40%;
  transform: translateY(-50%);
  height: 2rem; /* Ajusta la altura a tu gusto */
  width: 1px;
  background-color: #fff;
}
#navbar ul li {
  position: relative;
  margin-left: -12px; /* ajusta este valor según tus necesidades */
}

#navbar ul li:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 1.5rem;
  width: 1px;
  background-color: #fff;
}
#navbar ul li a {
  display: inline-block;  /* Asegúrate de que el enlace sea un bloque en línea */
  transition: transform 0.3s ease;
}

#navbar ul li a:hover {
  color: #eb5ef0;
  transform: translateY(-10%) scale(1.1);  /* Combina las transformaciones aquí */
}

.backro{
  background-color: #151617;
  /* background-image:url( "./Polygon Luminary.svg") ; */
}
.galeria{
  display: flex;
  align-items: baseline;
  flex-wrap: wrap;
  justify-content: center;
}

.imagen1{
  width: 30vw;
height: 81%;
padding: 28px;
}


/* -----------temas ----------*/
/* Estilos para el tema claro */
.light-theme-body {
  display: flex;
 background: rgb(176,37,231);
background:linear-gradient(261deg, rgb(188 69 235) 1%, rgba(0,156,112,0) 49%, rgba(176,37,231,0) 98%);
}
.light-theme-h1 {
  display: flex;
  color:  #B025E7
}
.light-theme-h2 {
  display: flex;
  color: #222222;
}
.light-theme-card {
  display: flex;
  background-color: #FAFAFA;
}

/* Estilos para el tema oscuro */
.dark-theme-body {
  display: flex;
  background-color: #0e0e0e;
}
.dark-theme-h1 {
  display: flex;
  
  color: #ffffff;
}
.dark-theme-h2 {
  display: flex;
  color: #cccccc;
}
.dark-theme-card {
  display: flex;
  background-color: #181818;
}

/* Estilos para el tema colorido */
.colorful-theme-body {
  display: flex;
  background-color: #002d80;
}
.colorful-theme-h1 {
  display: flex;
  color: white;
}
.colorful-theme-lih2{
  display: flex;
  color: #181818;
}
.colorful-theme-card {
  display: flex;
  background-color: #ffff00;
}


/* Estilos para el tema claro */
.light-theme-body { /* estilos */ }
.light-theme-h1 { /* estilos */ }
.light-theme-h2 { color: #151617; }
.light-theme-icon { color: #000000; }
.light-theme-button { color: #222222; background-color: #eeeeee50; }
.light-theme-link { color: #000000; }                                                                     

/* Estilos para el tema oscuro */
.dark-theme-body { /* estilos */ }
.dark-theme-h1 { /* estilos */ }
.dark-theme-lih2 {  color: white; }
.dark-theme-icon { color: #ffffff; }
.dark-theme-button { color: white; background-color: #4444449c; }
.dark-theme-link { color: #e2e2e2; }

/* Estilos para el tema colorido */
.colorful-theme-body { /* estilos */ }
.colorful-theme-h1 { /* estilos */ }
.colorful-theme-h2 { /* estilos */ }
.colorful-theme-icon { color: #e2e2e2; }
.colorful-theme-button { background-color: #1100ff71; }
.colorful-theme-link { color: #ececec; }
.light-theme-lih2 {color: #222222; }

.light-theme-h2a {
  color: #B025E7; /* ejemplo */
  /* otros estilos para el tema claro */
}

.dark-theme-h2a {
  color: #ffffff; /* ejemplo */
  /* otros estilos para el tema oscuro */
}

.colorful-theme-h2a {
  color: #B025E7; /* ejemplo */
  /* otros estilos para el tema colorido */
}


.light-theme-titulos-h2-after::after {
  background: linear-gradient(90deg, #b025e7, #37373742)}
.dark-theme-titulos-h2-after::after {
  background: linear-gradient(90deg, #b025e7, #373737);}


.colorful-theme-titulos-h2-after::after {
  color: #151617;
  background: linear-gradient(90deg, #b025e7, #5c70ff36)}



.titulos > h2:first-of-type {
  position: relative;
  font-family: 'Arial', sans-serif;

  font-size: 24px;
  margin: 20px 0;
}

.titulos h2:first-of-type::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 3px;
margin-bottom: -7px;
  border-radius: 2px;
}

.light-theme-titulos-h2-after{
color:#151617;
}


.dark-theme-titulos-h2-after{
  color: white;
}

.light-theme-navbar {
background: red;}

.dark-theme-navbar {
  /* Estilos para el tema oscuro */
}

.colorful-theme-navbar {
  /* Estilos para el tema colorido */
}


.light-theme-cardo {
background-color: white;}

.dark-theme-cardo {
background-color: #181818;}

.colorful-theme-cardo {
background-color: #ffffff;}

.light-theme-bn39span {
background: #b025e7;}

.dark-theme-bn39span {
background: #181818;}

.colorful-theme-bn39span {
background: #002d80;}

.light-theme-titulo2 {
color: #151617;}

.dark-theme-titulo2 {
color: white;}

.colorful-theme-titulo2 {
color: white;}




.cardo{
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
/* From https://css.glass */

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(-65px);
-webkit-backdrop-filter: blur(5px);
justify-content: space-evenly;
border-top: 1px solid rgba(255, 255, 255, 0.3);
border-bottom: 1px solid rgba(255, 255, 255, 0.3);
left: Opx;
}
.container-cardo{
  z-index: 999;
  justify-content: center;
  position: absolute;
    top: 103vh;
    left: 0px;
    flex-wrap: wrap;
    display: flex;
}


/* Estilos para el botón */
button {
  border: none;
  margin: 3px;
  padding: 0.45rem 0.5rem;
  background-color: #4f46e5;
  color: #ffffff;
  font-size: 0.775rem;
  font-weight: 600;
  border-radius: 0.375rem;
  box-shadow: 0 10px 15px -3px rgba(79, 70, 229, 0.5), 0 4px 6px -2px rgba(79, 70, 229, 0.1);
  transition: box-shadow 0.2s ease-in-out;
  text-decoration: none;
  display: inline-block;
}

/* Estilos para el enlace */
button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(79, 70, 229, 0.5);
}
@media screen and (max-width: 768px){
  .imagen1 {
    width: 55vw;
    height: 91%;
    padding: 28px;
}

.navbaruno{
  margin-left: 0px;
  margin-top: 22px;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;

}
#navbar ul li:not(:last-child)::after{
  display: none;
}
}
.navbaruno{
  margin-left: 19px
}

box-icon {
  margin-right: 12px;
}

.superpuesta {
  position: absolute;
  bottom: -69px;
  left: 137px;
  width: 239px

}



@media (min-width: 768px) {
  .card  .titulos h2{
    margin-right: 730px;
  }
}
#navbar {
  transition: background 44s ease; /* Transición más lenta de 1 segundo */
  position: fixed; /* Asegúrate de que el navbar esté fijo en la parte superior */
  width: 100%;
}

#navbar.transparent {
  background-color: transparent; /* Fondo transparente */
}

#navbar.gradient {
  background:rgba(255, 255, 255, 0.2) ;
 backdrop-filter:  blur(7px);
}


html {
  scroll-behavior: smooth;
}

